<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> has contacted you</h1>
    <p>You can contact them back at <%= @email %></p>
    <p>
      This is what they had to say: <%= @message %>
    </p>
  </body>
</html>